
.contactoForm {
    display: flex;
    flex-flow:column;
    width: 80%;
    height: 100%;
    margin: 1% 2% 1% 2%;
    padding: 5%
}

.formPosition {
    display: flex;
    margin: 0;
    padding: 0;
}
legend {
    font-size: 1.5rem;
}

label {
    display: inline-block;
    margin: 1% 0% 0% 1%;
}
input {
    display: block;
    margin: 1% 4% 2% 1%;
}
textarea {
    margin-left: 1%;
    margin-bottom: 2%;
    width: 95%;
}
.formButton {
    display: flex;
    flex-flow: column nowrap;
    margin: 3% 2% 0% 25%;
    padding: 1% 1% 1% 23%;
    width: 50%;
}