
.indexImg {
    width: 80%;
    height: 60%;
    margin: 2% 3% 3% 3%;
    border-radius: 50%;
}

.carrouselPosition {
    max-height: 80%;
    max-width: 100vh;
    padding-top: 8%;

}
.previous-next {
    margin-top: 50%;
}

.gridContainer {
    width: 100%;
     height: 50vh;
    background-color: $colorFondos;
    display: grid;
    grid-template-columns: 60% 30%;
    grid-template-rows: 100% 50%;
    margin-top: 5%;
    justify-content: space-around;
  }

.itemOne {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: $colorFondos;
    width: 100%;
    margin-left: 1%;
}

.itemTwo {
    background-color: $colorFondos;
    border-radius: 50%;
    display: flex;
    margin-left: 0;
    padding-left: 0;
    justify-items: center;
    align-items: center;

}

.gridContainerIzq {
    width: 100%;
    height: 50vh;
    background-color: $colorFondos;
    display: grid;
    grid-template-columns: 60% 30%;
    grid-template-rows: 100% 50%;
    margin-top: 5%;
    row-gap: 1%;
    justify-content: space-around;
  }

  .mapaIndex {
    object-fit: contain;
    width: 76%;
}